<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
{% if site.github.build_revision %}
  {% assign portfolio_asset_version = site.github.build_revision %}
{% else %}
  {% assign portfolio_asset_version = site.time | date: "%s" %}
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}?v={{ portfolio_asset_version }}">
